#!/usr/bin/env -S bash

GL_DOMAIN="https://gitlab-hsz.its.virginia.edu"
GL_TOKEN={{ .gitlabToken | quote }}
URI="api/v4/projects?private_token"

cd "$(dirname "$0")"
: >gitlab_projects_urls.txt

for ((i=1; ; i+=1)); do
    contents=$(curl -LSs "$GL_DOMAIN/$URI=${GL_TOKEN?}&per_page=100&page=$i")
    if jq -e '. | length == 0' >/dev/null; then
       break
    fi <<< "$contents"
    echo "$contents" | jq -r '.[].ssh_url_to_repo' >>gitlab_projects_urls.txt
done

for i in $(cat gitlab_projects_urls.txt); do
  j=$(sed 's|.*:||; s|\.git$||' <<< "$i")
  if [[ ! -d "$j/.git" ]]; then
    echo -e "\n$j:"
    rm -rf "$j"
    mkdir -p "${j%/*}"
    (cd "${j%/*}" || exit; git clone "$i")
  fi
done

rm gitlab_projects_urls.txt