{{- if eq .chezmoi.os "linux" -}}
font-family = "CaskaydiaCove Nerd Font Propo"
font-size = 11.5
{{- else }}
font-family = "CaskaydiaCove Nerd Font Mono"
font-size = 12
{{- end }}
font-feature = calt, liga, dlig

theme = "GitHub Dark"
cursor-opacity = 1
cursor-style = block
{{- if eq .chezmoi.os "linux" }}
background-opacity = 0.9
{{- else }}
background-opacity = 0.6
{{- end }}
background-blur-radius = 20
bold-is-bright = true
background = #101216
foreground = #8b949e
selection-background = #3b5070
selection-foreground = #ffffff
cursor-color = #c9d1d9
cursor-text = #101216
palette = 0=#000000
palette = 1=#f78166
palette = 2=#56d364
palette = 3=#e3b341
palette = 4=#6ca4f8
palette = 5=#db61a2
palette = 6=#2b7489
palette = 7=#ffffff
palette = 8=#4d4d4d
palette = 9=#f78166
palette = 10=#56d364
palette = 11=#e3b341
palette = 12=#6ca4f8
palette = 13=#db61a2
palette = 14=#2b7489
palette = 15=#ffffff

mouse-hide-while-typing = true
scrollback-limit = 10000
focus-follows-mouse = true

shell-integration-features = cursor,sudo,title

window-inherit-working-directory = true
window-step-resize = true
window-height = 33
window-width = 100
window-save-state = always
resize-overlay = always
window-new-tab-position = end

clipboard-trim-trailing-spaces = true
copy-on-select = true

macos-titlebar-style = tabs

keybind = ctrl+page_up=previous_tab
keybind = ctrl+page_down=next_tab